*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    position: relative;
    min-height: 37vh;
    /* border: 2px solid red; */
    overflow: hidden;
    position: relative;
}
header #slide-parent{
    position: absolute;
    /* border: 2px solid rgb(255, 238, 0); */
    height: 100%;
    width: 100%;
    display: flex;
}
#slide-parent img{
    z-index: -1;
    object-fit: cover;
    min-width: 100%;
}
#header-info{
    position: absolute;
    /* border: 2px solid yellow; */
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
#header-info h1{
    font-size: 50px;
    -webkit-text-stroke: 4px white;
    text-shadow: 6px 6px 20px white;
    margin-bottom: 30px;
}
#header-info h1 span{
    font-size: 75px;
}
#header-info img{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 38%;
}
#onglets{
    position: absolute;
    /* border: 2px solid yellow; */
    min-width: 100%;
    bottom: 0;
    right: 0;  
    display: flex;
    justify-content: end;
}
#onglets ul{
    /* border: 2px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 25px;
    padding: 0.5%;
}
#onglets ul li{
    padding: 2% 2%;
    box-shadow: 2px 2px 2px white;
    transition: 0.2s ease;
    /* border: 2px solid blue; */
}
#onglets ul li:hover{
    background: rgba(255, 255, 255, 0.438);
    transform: translateY(-20%);
}
#onglets ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#phone-menu{
    position: absolute;
    /* border: 2px solid yellow; */
    width: 33px;
    height: 31px;
    top: 5px;
    right: 5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    /* background: rgba(255, 255, 255, 0.336); */
}
#phone-menu span{
    border: 2px solid white;
    width: 60%;
}
#header-on-phone{
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: rgb(0, 0, 22);
    transition: 0.4s ease;
    opacity: 0;
    z-index: -1;
}
#header-on-phone::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 30%;
    /* border: 2px solid white; */
    z-index: 0;
    border-radius: 0  0 100% 0;
    background: rgba(0, 0, 255, 0.336);
    box-shadow: 7px 7px 25px rgba(255, 255, 255, 0.26);
}
#header-on-phone::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 30%;
    /* border: 2px solid white; */
    z-index: 0;
    border-radius: 100% 0 0 0;
    background: rgba(0, 0, 255, 0.336);
    box-shadow: -7px -7px 25px rgba(255, 255, 255, 0.26);
}
#header-on-phone img{
    width: 65%;
    min-height: 15%;
    margin-top: 10%;
    z-index: 1;
}
#header-on-phone div{
    /* border: 2px solid green; */
    z-index: 1;
    width: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
}
#header-on-phone ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
#header-on-phone ul li{
    /* border: 2px solid; */
    border-bottom: 2px solid white;
    padding: 4% 2%;
    width: 80%;
    margin-left: 9.5%;
    text-align: center;
    margin-bottom: 13px;
}
#header-on-phone ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}


@media screen and (max-width: 915px){
    #phone-menu{
        display: flex;
    }
    #header-on-phone{
        display: flex;
    }
    #onglets{
        display: none;
    }
    header{
        min-height: 160px;
    }
    #header-info h1{
        font-size: 30px;
        margin-bottom: 0;
    }
    #header-info h1 span{
        font-size: 50px;
    }
    #header-info img{
        display: none;
    }
}